<div class="container">
    <div class="row justify-contents-center align-items-center d-flex">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <a href="#" class="btn text-danger border border-danger font-abel">
                New Sermon Series on Reformed Faith
            </a>
            <p class="fw-bold font-abel fs-xv-large">Welcome to Pilgrims Chapel</p>
            <p class="font-abel">Join us in living a life of worship through the Gospel and the power of the Holy Spirit.</p>
            <a href="#" class="btn btn-danger border border-danger font-abel">Watch Latest Sermon</a>
            <a href="#" class="btn border border-danger ms-3 font-abel"> Learn More About US</a>

        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <img src="\images\welcoming-church-event.webp" class="image" alt=" image of welcoming church event">

        </div>
    </div>
    <div class="row mt-4 text-center font-abel">
        <h1 class="fw-bold">Pilgrims Chapel At a Glance</h1>
        <h3 class="text-muted fw-bold">Serving Our Community with Faith and Love for 13 Years</h3>
        <p>Explore the essence of Pilgrims Chapel through these remarkable highlights of our commitment to faith and community.</p>
    </div>
    <div class="row font-abel">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-secondary rounded">
              <p class="bg-danger m-5 col-6 text-white rounded fs-xx-large text-center">13</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-secondary rounded">
            <p class="bg-danger m-5 col-6 text-white rounded fs-xx-large text-center">200 <br>
                 Members</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-secondary rounded">
        <p class="bg-danger m-5 col-6 text-white rounded fs-xx-large text-center">Available</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-secondary rounded">
    <p class="bg-danger m-5 col-6 text-white rounded fs-xx-large text-center">Purchase <br> Online</p>
</div>
    </div>
</div>
