<div class="container mt-5  mt-xl-0">
    <div class="row justify-contents-center align-items-center d-flex mt-5 mt-lg-2 mt-xl-0">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mt-5 mt-lg-2 mt-xl-0 text-center text-lg-start">
            <a href="#" class="btn r btn-outline-danger border border-danger font-abel">
                New Sermon Series on Reformed Faith
            </a>
            <p class="fw-bold font-abelpro fs-xv-large">Welcome to Pilgrims Chapel</p>
            <p class="font-abel">Join us in living a life of worship through the Gospel and the power of the Holy Spirit.</p>
            <a href="#" class="btn btn-danger btn-outline-light shadow border border-danger font-abel">Watch Latest Sermon</a>
            <a href="#" class="btn btn-outline-danger border border-danger ms-3 font-abel"> Learn More About US</a>

        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mt-3 mt-lg-0 justify-contents-center align-items-center d-flex">
            <a href="#" class="text-decoration-none">
            <div class="image-container">
            <img src="\images\Capture d'écran 2024-12-06 103219.jpg" class="image" style="width: 100%;" alt=" image of welcoming church event">
            <div class="overlay">
                <div class="text">Experience Community and Spiritual Growth</div>
              </div>
            </div>
        </a>
        </div>
    </div>
    <div class="row mt-4 text-center font-abelpro">
        <h2 class="fw-bold">Pilgrims Chapel At a Glance</h2>
        <h4 class="text-muted">Serving Our Community with Faith and Love for 13 Years</h4>
        <p class="font-abel">Explore the essence of Pilgrims Chapel through these remarkable highlights of our commitment to faith and community.</p>
    </div>
    <div class="row text-center font-abelpro fw-bold justify-contents-center align-items-center px-5 px-sm-2 px-md-0">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 border border-white  p-4 bg-seconda rounded-start" routerLink="/home">
        
          <div class="rounded-pill bg-dang text-white m-4 ">
            <h4 class="pt-4 pt-sm-2 pt-xl-5 fw-bold">13</h4>
          </div>
          <small>Years Serving</small>
       
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-4 border border-white bg-seconda">
      
          <div class="rounded-pill bg-dang text-white m-4">
            <h4 class="fw-bold pt-1 pt-xl-4">200 <br> Members</h4>
          </div>
          <small class="m-0">Congregation Size</small>
      
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 border border-white  p-4 bg-seconda">
     
          <div class="rounded-pill bg-dang text-white m-4">
            <h4 class="pt-4 pt-sm-2 pt-xl-5">Available</h4>
          </div>
          <small>Online Donations</small>
    
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 border border-white  p-4 bg-seconda rounded-end">
     
          <div class="rounded-pill bg-dang text-white m-4">
            <h4 class="pt-1 pt-xl-4">Purchase <br> Online</h4>
          </div>
          <small>Event Tickets</small>
        </div>
  
    </div>
    <div class="row justify-contents-center align-items-center d-flex mt-5">
        <div class="col-12 col-md-6 justify-contents-center align-items-center d-flex">
            <img src="images\Capture d'écran 2024-12-06 115219.png" class="image-fuid" style="width: 100%; align-self: center;" alt="">

        </div>
        <div class="col-12 col-md-6 text-center justify-contents-center align-items-center">
            <h2 class="font-abelpro">Our Beliefs and Identity</h2>
            <p class="font-abel">Embracing the Reformed Faith and Baptist Confession</p>
            <a href="#" class="font-abel btn btn-danger btn-outline-light">Learn More About Our Beliefs</a>
            
        </div>
    </div>
    <div class="row my-5">
        <h2 class="text-center mb-5 font-abelpro">What Our Congregation Says</h2>
        <div class="row">
            @for (testimonial of testimonials; track $index) {
          <div class="col-md-4 mt-3 mt-lg-0">
            <div class="card font-abel h-100">
              <div class="card-body overflow-auto">
                <img [src]="testimonial.image" class="rounded-circle mb-3" alt="{{ testimonial.name }}">
                <h5 class="card-title">{{ testimonial.name }}</h5>
                <div class="star-rating">
                    @for (star of stars; track star.index) { 
                    <span class="text-warning" 
                          (click)="rating =star.index + 1"
                          [class.filled]="star.index < rating">
                      ★
                    </span>
                }
                  </div>
                <p class="card-text">{{ testimonial.text }}</p>
              </div>
            </div>
          </div>
        }
        </div>
        <div class="text-center mt-4">
          <button class="btn btn-danger btn-outline-light font-abel">See All Reviews</button>
        </div>
      </div>
      
  </div>
  
