<div class="container bg-light my-3">
    <div class="row  d-block justify-contents-center align-items-center  text-center"> 
      <div class="col font-abelpro fw-bold text-danger">Links</div>
        <ul class="navbar-nav d-block justify-contents-center align-items-center font-abel text-danger">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/contact">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/press">In the press</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/privacy">Privacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/terms">Terms of service</a>
          </li>
        </ul>
    </div>
     
        <div class="row d-flex align-items-center justify-contents-center text-center">
          <div class="social-icons py-3"> 
            <a href="#" class="me-4  text-dark fs-large"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#" class="me-4  text-dark fs-large"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="me-4 text-dark fs-large"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="me-4 text-dark fs-large"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="me-4 text-dark fs-large"><i class="fa-brands fa-youtube"></i></a>
            <a href="#" class="me-4 text-dark fs-large"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
          <div class="built-with">
            <a href="#" class="text-muted text-decoration-none">Built by Cedric Dev</a>
            
            <div  class="text-muted">&copy; {{currentYear}}, Cedric<span class="text-muted mx-2">•</span> All Rights Reselved</div>
          </div>
        </div>
     


    </div>
  